body {
  font-family: "Open Sans", sans-serif;
}

footer {
  background-image: linear-gradient(#e6e6ff, white);
  padding: 20px 0;
}

.jumbotron {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: linear-gradient(to right, coral, orange, #f2f542);
  color: white;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar {
  background-color: black;
}


/*h1, h2, h3 {
  font-family: "Lobster", cursive;
}

h2 {
  color: #3046C5;
}

header h2 {
  color: #CEC8FF;
}*/

.img-logo {
  width: 150px;
  min-height: 50px;
  float: left;
  margin: 0px;
  padding: 0px;
  border-radius: 0.25rem;
}

.card-img-top-size {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  width: 200px;
  height: 150px;
}

.card-book-img-product {
  width: 60%;
  height:60%;
  min-width: auto;
  min-height: auto;
}

.img-product {
  max-width: 60%;
  max-height: 100%;
  min-width: auto;
  min-height: auto;
}

.img-book {
  width: 300px;
  min-height: 180px;
  max-width: 100%;
  height: auto;
  float: left;
  margin: 30px;
  padding: 0px;
}

.text-img-bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  margin-left: 30px;
}

.text-header-search {
  font-size: x-large;
  color:  #007bff
}

.text-body-search {
  font-size: large;
}